<p id="notice"><%= notice %></p>

<h1>Book Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_users.each do |book_user| %>
      <tr>
        <td><%= book_user.user_id %></td>
        <td><%= book_user.book_id %></td>
        <td><%= link_to 'Show', book_user %></td>
        <td><%= link_to 'Edit', edit_book_user_path(book_user) %></td>
        <td><%= link_to 'Destroy', book_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book User', new_book_user_path %>
<%= link_to 'Book index', books_path%>
<%= link_to 'User index', users_path%>
